.form-control.k-textbox,
.form-control.k-button,
.form-control.k-dropdown
{
    padding: 0;
    width: 100%;
}

/*.info-box-icon
{
    width: 80px;
}

.info-box-content
{
    margin-left: 130px;
}*/
.overview {
    display: inline;
    margin-left: 30px;
}

.overview-icon {
    padding: 8px 5px 6px 5px;
}

.overview dl{
    display: inline;
}

.overview dt {
    display: inline;
    margin-left: 10px;
    font-weight: normal;
}

.overview dd {
    display: inline;
    font-weight: bold;
    margin-left: 6px;
}

.servers-heading, .events-heading, .incidents-heading {
    display: inline;
}

.servers-box, .events-box, .incidents-box {
    margin-bottom: 0;
}

.events-filter-label, .incidents-filter-label {
    font-weight: normal;
}

.vertical-spacing-M
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.k-grid > table > tbody > tr:hover,
.k-grid-content > table > tbody > tr:hover
 {
         background-color: #e5e5e5;
 }


/*.k-grid tr td
{
    border-color: #f4f4f4;
}

.k-alt, .k-separator, .k-alt.k-resource, .k-pivot-layout > tbody > tr:first-child > td:first-child
{
    background-color: inherit;
}

.k-block,.k-header,.k-grid-header,.k-toolbar,.k-grouping-header,.k-pager-wrap,.k-button,.k-draghandle,.k-treemap-tile,html .km-pane-wrapper .k-header
{
    background-color: inherit;
}

.k-header,.k-grid-header-wrap,.k-grid .k-grouping-header,.k-grid-header,.k-pager-wrap,.k-pager-wrap .k-textbox,.k-pager-wrap .k-link,.k-grouping-header .k-group-indicator,.k-gantt-toolbar .k-state-default
{
    border-color: #f4f4f4;   
}

.k-grid-header th.k-header,
.k-filter-row th 
{
    font-weight: bold;
}

.k-grid-header th.k-header .k-grid-filter, 
.k-filter-row th .k-grid-filter
{
    font-weight: normal;
}*/

/* Skr�t vertik�ln� scrollbar u gridu */
.k-grid-header
{
   padding: 0 !important;
}
.k-grid-content
{
    overflow-y: visible;
}

.k-multicheck-wrap
{
    width: 180px;
}

.k-multicheck-wrap input[type="checkbox"]
{
    margin-right: 0.5em;
}

.k-multicheck-wrap .k-label
{
    font-weight: normal;
}

.k-grid-filter .k-icon
{
    opacity: 0.4;
}

.event-detail-controls {
    margin-bottom: 15px;
}

.event-detail-controls .form-group {
    padding-right: 30px;
}

.event-detail-controls #email {
    width: 300px;
}
#description-original, #eventsdb-description-original, #eventsdb-description-custom, #eventsdb-solution {
    width: 100%;
}

.event-detail-servers h3{
    font-weight: bold;
}

#grid-events tr, #grid-disks tr , #grid-servers tr{
    cursor: pointer;
}

span.k-widget.k-tooltip-validation {
    display: inline-block;
    width: 160px;
    text-align: left;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    color: red;
}

.k-tooltip-validation .k-warning {
    display: none;
}

.notifications-bar {
    margin: 1em;
}




/* LOGIN PAGE*/
/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 50px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color:#3F6474;
}

.forgot-password {
    color: rgb(104, 145, 162);

}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: #3F6474;
}