<script id="layout" type="text/x-kendo-template">
    <header class="main-header">
        <a href="#" class="logo">           
            <strong>ROBO</strong> Admin
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <span class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </span>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Notifications: style can be found in dropdown.less -->
                    <!--li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li-->
                                <!-- inner menu: contains the actual data -->
                                <!--ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="ion ion-ios-people info"></i> Notification title
                                        </a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li-->
                    <!-- Notifications: style can be found in dropdown.less -->
                    <!--li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-danger">6</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li-->
                                <!-- inner menu: contains the actual data -->
                                <!--ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="ion ion-ios-people info"></i> Notification title
                                        </a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li-->
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs" data-bind="text: user.fullname">[User full name]</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#profile">Profil</a>
                            </li>
                            <!--<li>-->
                                <!--<a href="#profile/change-email">Změnit e-mail</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#profile/change-password">Změnit heslo</a>-->
                            <!--</li>-->
                            <li class="divider"></li>
                            <li>
                                <a href="#logout">Odhlásit</a>
                            </li>
                        </ul>                       
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <!--li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li-->
                </ul>
            </div>
        </nav>
    </header>   
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <div class="sidebar" id="scrollspy">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="nav sidebar-menu">
                <li class="header">SPRÁVA SERVERŮ</li>
                <li><a href="#"><i class='fa fa-dashboard'></i><span>Servery</span></a></li>
                <li><a href="#events"><i class='fa fa-filter'></i><span>Události</span><span class="label label-warning pull-right">65</span></a></li>                
                <li><a href="#incidents"><i class='fa fa-exclamation-triangle'></i><span>Incidenty</span><span class="label label-warning pull-right">5</span></a></li>
                <li class="header">ZNALOSTNÍ BÁZE</li>
                <li><a href="#eventsDB"><i class='fa fa-database'></i><span>Databáze událostí</span></a></li>
                <li class="header">NASTAVENÍ</li>
                <li><a href="#settings"><i class='fa fa-gear'></i><span>Nastavení</span></a></li>                
            </ul>
        </div>
        <!-- /.sidebar -->
    </aside>                
    <div id="layout-content" class="content-wrapper"></div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
        </div>
        <strong>Copyright &copy; 2015 <a href="http://www.digioffice.cz">Digi Office, s.r.o.</a></strong> Všechna práva vyhrazena.
    </footer>
</script>
