<script id="incidents" type="text/x-kendo-template">
    <section class="content-header">
        <h1 class="incidents-heading">Incidenty</h1>
        <div class="overview">
            <span class="fa fa-heart fa-lg overview-icon bg-red"></span>
            <dl>
                <dt>CHYBY:</dt><dd>1</dd>
                <dt>UPOZORNĚNÍ:</dt><dd>3</dd>
            </dl>
        </div>
    </section>
    <div class="content">
        <div class="box incidents-box">
            <div class="box-body">
                <!--div class="row vertical-spacing-M">
                    <div class="col-sm-5">
                        <label class="incidents-filter-label">
                            Zobrazovat incidenty za poslední:&nbsp;
                        </label>
                        <select data-role="dropdownlist">
                            <option value="0">1 den</option>
                            <option value="1">2 dny</option>
                            <option value="2">3 dny</option>
                            <option value="3" selected="selected">týden</option>
                            <option value="4">měsíc</option>
                            <option value="5">všechny</option>
                        </select>
                    </div>
                </div-->
                <div id="grid-incidents"></div>
            </div>
        </div>
    </div>
</script>
