<script id="index" type="text/x-kendo-template">
    <section class="content-header">
        <h1 class="servers-heading">Servery</h1>
        <div class="overview">
            <span class="fa fa-heart fa-lg overview-icon bg-red"></span>
            <dl>
                <dt>CHYBNÝ STAV:</dt><dd>1</dd>
                <dt>VAROVNÝ STAV:</dt><dd>3</dd>
            </dl>
        </div>
    </section>
    <div class="content">
        <div class="box servers-box">
            <div class="box-body">
                <div class="row vertical-spacing-M">
                    <div class="col-sm-2">
                        <select data-role="dropdownlist" class="form-control">
                            <option value="0">Všechny</option>
                            <option value="1">Chybové</option>
                            <option value="2">Varovné</option>
                            <option value="3">Ok</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <div class="checkbox">
                            <label><input type="checkbox" id="state">Zobrazovat jen aktuálně sledované servery</label>
                        </div>
                    </div>
                </div>
                <div id="grid-servers"></div>
            </div>
        </div>
        <a href="#add-server" class="btn btn-primary">Přidat server</a>
    </div>
</script>