<script id="add-server" type="text/x-kendo-template">
    <section class="content-header">
        <h1>Přidat server</h1>
    </section>
    <div class="content">
        <div class="box">
        <div id="alert"></div>
            <div class="box-body">
                <label for="server-name">
                     Název serveru: 
                </label>
                <input type="text" name="server-name" class="form-control" id="server-name">
                <label for="customer">
                     Zákazník: 
                </label>
                <input type="text" name="customer" class="form-control" id="customer">
                <label for="os">
                     Operační systém: 
                </label>
                <input type="text" name="os" class="form-control" id="os">
            </div>
        </div>
                
        <button id="addserver" class="btn btn-primary">Přidat</button>
        <a href="#/" class="btn btn-default">Zpět</a>
    <div>
</script>