<script id="add-server" type="text/x-kendo-template">
    <section class="content-header">
        <h1>Přidat server</h1>
    </section>
    <div class="content" id="myform">
        <div class="box">
        <div id="alert"></div>
            <div class="box-body">
                <div class="form-group">
                    <label for="server-name">
                         Název serveru: 
                    </label>
                    <input type="text" name="server-name" class="form-control" id="server-name" required validationMessage="Název serveru je povinný údaj">
                </div>
                <div class="form-group">
                    <label for="customer">
                         Zákazník: 
                    </label>
                    <input type="text" name="customer" class="form-control" id="customer" required validationMessage="Zákazník je povinný údaj">
                </div>
                <div class="form-group">
                    <label for="os">
                         Operační systém: 
                    </label>
                    <input type="text" name="os" class="form-control" id="os" required validationMessage="Operační systém je povinný údaj">
                </div>
            </div>
        </div>
                
        <button id="addserver" class="btn btn-primary">Přidat</button>
        <a href="#/" class="btn btn-default">Zpět</a>
    <div>
</script>