<script id="events" type="text/x-kendo-template">
    <section class="content-header">
        <h1 class="events-heading">Události</h1>
        <div class="overview">
            <span class="fa fa-heart fa-lg overview-icon bg-red"></span>
            <dl>
                <dt>KRITICKÉ:</dt><dd>1</dd>
                <dt>VYSOKÁ PRIORITA:</dt><dd>3</dd>
                <dt>NORMÁLNÍ PRIORITA:</dt><dd>25</dd>
            </dl>
        </div>
    </section>
    <div class="content">
        <div class="box events-box">
            <div class="box-body">
                <div class="row vertical-spacing-M">
                    <div class="col-sm-2">
                        <select data-role="dropdownlist" class="form-control">
                            <option value="0">Aktuální</option>
                            <option value="1">Nové</option>
                            <option value="3">Všechny</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <label class="events-filter-label">
                            Počet výskytů zobrazovat za období:&nbsp;
                        </label>
                        <select data-role="dropdownlist">
                            <option value="0">Dnes</option>
                            <option value="1" selected="selected">7 dní</option>
                            <option value="2">30 dní</option>
                        </select>
                    </div>
                </div>
                <div id="grid-events"></div>
            </div>
        </div>
    </div>
</script>

<!-- zatim se nepoužívá. Možná to bude ve výsledku -->
<script id="events-grid-detail" type="text/x-kendo-template">
    <p>Platnost žádosti vypršela, protože server neodpověděl. Název serveru: \Server1 ID relace:0x0 ID stromu:0x0 ID zprávy:0x0 Příkaz: Negotiate
    Pokyny: Server odpovídá přes protokol TCP, nikoli SMB. Zajistěte, aby serverová služba byla spuštěna a reagovala a aby disky neměly vysokou
    vstupně-výstupní latenci, což může způsobit, že se budou pro protokol SMB jevit jako nereagující. Rovněž ověřte, že server celkově reaguje a není
    pozastaven, například zkontrolujte, že se na něho můžete přihlásit.</p>
</script>
