<script id="event-detail" type="text/x-kendo-template">
<section class="content-header">
    <h1>Detail události na serveru <span data-bind="text: server_name"></span></h1>
</section>
<div class="content">
    <div class="box">
        <div class="box-header">
            <h2 class="box-title">Základní informace</h3>
        </div>
        <div class="box-content">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Zdroj</th>
                    <th>Typ</th>
                    <th>Log</th>
                </tr>
                <tr>
                    <td data-bind="text: event_id"></td>
                    <td data-bind="text: source"></td>
                    <td data-bind="text: level"></td>
                    <td data-bind="text: log"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="box event-detail-servers">
        <div class="box-header">
            <h2 class="box-title">Postižené servery</h2>
        </div>
        <div class="box-body">
            <h3 class="h5">Aktuální</h3>
            <ul class="list-inline">
            # for (var i = 0; i < active_servers.length; i++) { #
                <li>#= active_servers[i].server_name #
                (#= active_servers[i].occurences1 #
                / #= active_servers[i].occurences7 #
                / #= active_servers[i].occurences30 #)
                + #= active_servers[i].restart #</li>
            # } #
                <!-- comment níže je vzor z minulého RoboAdmina pro inspiraci -->
                <!--{% for server in servers %}
                    {% ifequal server.actual "1" %}
                        <li>{% if server.in_1_day > 0 %}<img src="/img/error.png" alt="error">
                                  {% else %} {% if server.in_7_days > 0 %} <img src="/img/warning.png" alt="warning">
                                  {% else %} <img src="/img/ok.png" alt="ok">{% endif %}{% endif %} {{server.server_name}} (<span data-toggle="tooltip" data-placement="top" title="počet chyb za poslední den">{{server.in_1_day}}</span>/<span data-toggle="tooltip" data-placement="top" title="počet chyb za posledních 7 dní">{{server.in_7_days}}</span>/<span data-toggle="tooltip" data-placement="top" title="počet chyb za posledních 30 dní">{{server.in_30_days}}</span>) + <span data-toggle="tooltip" data-placement="top" title="počet chyb při restartu">{{server.on_restart}}</span>
                    {% endifequal %}
                {% endfor %}-->
            </ul>
            <h3 class="h5">Vyřešené</h3>
            <ul class="list-inline">
            # for (var i = 0; i < solved_servers.length; i++) { #
                <li>#= solved_servers[i].server_name #</li>
            # } #
            </ul>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            <h2 class="box-title">Operační systémy</h2>
        </div>
        <div class="box-body">
            <ul class="list-inline">
            # for (var i = 0; i < oss.length; i++) { #
                <li>#= oss[i] #</li>
            # } #
            </ul>
        </div>
    </div>

    <div class="box">
        <div class="box-header">
            <h2 class="box-title">Potenciální příčiny</h2>
        </div>
        <div class="box-body">
            <ul class="list-inline">
            # for (var i = 0; i < factors.length; i++) { #
                <li>#= factors[i] #</li>
            # } #
            </ul>
        </div>
    </div>

    <form>

        <div class="box">
            <div class="box-header">
                <h2 class="box-title">Popis</h2>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="description-original">Originální</label>
                    <textarea name="description-original" id="description-original" rows="9" cols="80" readonly>#= original_description #</textarea>
                </div>
                <div class="form-group">
                    <label for="description-custom">Vlastní</label>
                    <textarea name="description-custom" id="description-custom" rows="5" cols="80">#= custom_description #</textarea>
                </div>
            </div>
        </div>

        <div class="form-inline event-detail-controls">
            <div class="form-group">
                <label for="priorities">Priorita: </label>
                <select form="detail-form" name="priority" class="form-control" id="priorities" data-bind="value: priority">
                    <option value="kritická">Kritická</option>
                    <option value="vysoká">Vysoká</option>
                    <option value="normální">Normální</option>
                    <option value="nízká">Nízká</option>
                    <option value="ignorovat">Ignorovat</option>
                </select>
            </div>

            <div class="form-group">
                <label for="notification">Upozornění: </label>
                <!--select form="detail-form" name="notification" class="form-control" id="notification">
                    <option selected>Email</option>
                </select-->
                <input type="email" name="notification-email" class="form-control" id="email" placeholder="Sem zadejte email" data-bind="value: email">
            </div>

            <div class="form-group">
            <div class="checkbox">
                <label><input type="checkbox" id="state" data-bind="checked: state"> Zpracovaná</label>
            </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                <h2 class="box-title">Řešení</h2>
            </div>
            <div class="box-body">
                <textarea name="solution" id="solution" rows="5" cols="80">#= solution #</textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Uložit změny</button>
        <a href="\\#events" class="btn btn-default">Zpět</a>

    </form>
</script>
