<script id="settings-filter-udalost" type="text/x-kendo-template">
    <section class="content-header">
        <h1>Nastavení</h1>
    </section>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Upravit upozornění</h3>
                    </div>
                    <div class="box-body" id="filter-modify">
                    
                           <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Typ upozornění:&nbsp;
                                </label>
                                #var j = 0; #
                                # for (var  i = 0; i< datas.length; i++) {if (datas[i].id == ids) {j = i;  break; }}#
                                #if (datas[j].type == "udalost") var udal = "selected='selected'"#
                                # if (datas[j].type === "disk") var disk = "selected='selected'"#
                                # if (datas[j].type === "odezva") var odezva = "selected='selected'"#
                                # if (datas[j].type === "dostupnost") var dostupnost = "selected='selected'"#
                                # if (datas[j].type === "sluzba") var sluzba = "selected='selected'"#
                                <select data-role="dropdownlist"  name="typ-drop" value=#= datas[j].type #>
                                    <option value="udalost"   #=udal#>Událost</option>
                                    <option value="disk" #=disk#>Misto na disku</option>
                                    <option value="odezva" #=odezva#>Vysoká odezva</option>
                                    <option value="dostupnost" #=dostupnost#>Nedostupny server</option>
                                    <option value="sluzba" #=sluzba#>Neběžící služba</option>                                   
                                </select>
                                </div>
                            </div>
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Název upozornění:&nbsp;
                                </label>
                        
                                
                                <input  id="name" name="filter-name" value=#= datas[j].name # required validationMessage="Název je povinný údaj">
                                </div>
                            </div>
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Priorita:&nbsp;
                                </label>
                                #if (datas[j].priority == "0") var par0 = "selected='selected'"#
                                # if (datas[j].priority === "1") var par1 = "selected='selected'"#
                                # if (datas[j].priority === "2") var par2 = "selected='selected'"#
                                # if (datas[j].priority === "3") var par3 = "selected='selected'"#
                                # if (datas[j].priority === "4") var par4 = "selected='selected'"#
                                
                                <select data-role="dropdownlist" name="priority">
                                    <option value="0" #=par0#>Všechny</option>
                                    <option value="1" #=par1#>Kritická</option>
                                    <option value="2" #=par2#>Vysoká</option>
                                    <option value="3" #=par3#>Normální</option>
                                    <option value="4" #=par4#>Nízká</option>                                 
                                </select>
                                </div>
                            </div>
                            
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Zdroj:&nbsp;
                                </label>
                                #par0=""; par1="";par2="";par3=""#
                                #if (datas[j].source == "0")  par0 = "selected='selected'"#
                                # if (datas[j].source === "1")  par1 = "selected='selected'"#
                                # if (datas[j].source === "2")  par2 = "selected='selected'"#
                                # if (datas[j].source === "3")  par3 = "selected='selected'"#
                              
                                <select data-role="dropdownlist" name="source" >
                                    <option value="0" #=par0#>Všechny</option>
                                    <option value="1" #=par1#>...</option>
                                    <option value="2" #=par2#>...</option>
                                    <option value="3" #=par3#>...</option>                                                                  
                                </select>
                                </div>
                            </div>
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Server:&nbsp;
                                </label>
                                #par0=""; par1="";par2="";par3=""#
                                #if (datas[j].server == "0")  par0 = "selected='selected'"#
                                # if (datas[j].server === "1")  par1 = "selected='selected'"#
                                # if (datas[j].server === "2")  par2 = "selected='selected'"#
                             
                                <select data-role="dropdownlist" name="server" >
                                    <option value="0" #=par0#>Všechny</option>
                                    <option value="1" #=par1#>Server1</option>
                                    <option value="2" #=par2#>Server2</option>                                                                                           
                                </select>
                                </div>
                            </div>
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Zákazník:&nbsp;
                                </label>
                                #par0=""; par1="";par2="";par3=""#
                                #if (datas[j].customer == "0")  par0 = "selected='selected'"#
                                # if (datas[j].customer === "1")  par1 = "selected='selected'"#
                                # if (datas[j].customer === "2")  par2 = "selected='selected'"#
                                # if (datas[j].customer === "3")  par3 = "selected='selected'"#
                                <select data-role="dropdownlist" name="customer" >
                                    <option value="0" #=par0#>Všechny</option>
                                    <option value="1" #=par1#>Zákazník1</option>
                                    <option value="2" #=par2#>Zákazník2</option>
                                    <option value="3" #=par3#>Zákazník3</option>                                                                  
                                </select>
                                </div>
                            </div>
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Způsob upozornění:&nbsp;
                                </label>
                                <select data-role="dropdownlist">
                                    <option value="0" selected="selected">Email:</option>
                                                                                                                                    
                                </select>
                                </div>
                            </div>
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Email:&nbsp;
                                </label>
                                <input type="email" id="email" name="filter-email" value=#= datas[j].email # required validationMessage="Zadejte platný e-mail">
                                </div>
                            </div>
                     <button id="addfilter" class="btn btn-primary">Uložit</button>
                    <a href="\\#settings" class="btn btn-default">Zpět</a>
                    </div>
                    
                </div>
            </div>
           
        </div>
        
    </div>
</script>

