<script id="settings-filter-add" type="text/x-kendo-template">
    <section class="content-header">
        <h1>Nastavení</h1>
    </section>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Přidat upozornění</h3>
                    </div>
                    <div class="box-body">
                    
                           <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Typ upozornění:&nbsp;
                                </label>
                             
                                <select data-role="dropdownlist"  name="typ-drop" >
                                    <option value="udalost"   selected="selected">Událost</option>
                                    <option value="disk">Misto na disku</option>
                                    <option value="odezva">Vysoká odezva</option>
                                    <option value="dostupnost">Nedostupny server</option>
                                    <option value="sluzba">Neběžící služba</option>                                   
                                </select>
                                </div>
                            </div>
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Název upozornění:&nbsp;
                                </label>
                        
                                
                                <input  id="name" name="filter-name" >
                                </div>
                            </div>
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Priorita:&nbsp;
                                </label>
                                <select data-role="dropdownlist" name="priority" >
                                    <option value="0" selected="selected">Všechny</option>
                                    <option value="1">Kritická</option>
                                    <option value="2">Vysoká</option>
                                    <option value="3" >Normální</option>
                                    <option value="4">Nízká</option>                                 
                                </select>
                                </div>
                            </div>
                            
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Zdroj:&nbsp;
                                </label>
                                <select data-role="dropdownlist" name="source" >
                                    <option value="0" selected="selected">Všechny</option>
                                    <option value="1">...</option>
                                    <option value="2">...</option>
                                    <option value="3" >...</option>                                                                  
                                </select>
                                </div>
                            </div>
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Server:&nbsp;
                                </label>
                                <select data-role="dropdownlist" name="server" >
                                    <option value="0" selected="selected">Všechny</option>
                                    <option value="1">Server1</option>
                                    <option value="2">Server2</option>                                                                                           
                                </select>
                                </div>
                            </div>
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Zákazník:&nbsp;
                                </label>
                                <select data-role="dropdownlist" name="customer" >
                                    <option value="0" selected="selected">Všechny</option>
                                    <option value="1">Zákazník1</option>
                                    <option value="2">Zákazník2</option>
                                    <option value="3" >Zákazník3</option>                                                                  
                                </select>
                                </div>
                            </div>
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Způsob upozornění:&nbsp;
                                </label>
                                <select data-role="dropdownlist">
                                    <option value="0" selected="selected">Email:</option>
                                                                                                                                    
                                </select>
                                </div>
                            </div>
                            <div class="row vertical-spacing-M">
                             <div class="col-sm-5">
                                <label>
                                     Email:&nbsp;
                                </label>
                                <input  id="email" name="filter-email" >
                                </div>
                            </div>
                     <button id="addfilter" class="btn btn-primary">Přidat</button>
                    <a href="#settings" class="btn btn-default">Zpět</a>
                    </div>
                    
                </div>
            </div>
           
        </div>
        
    </div>
</script>

